.container {
    width: 850px;
    height: 100vh;
    margin: auto;
    background-color: grey;
}

button {
    height: 50px;
    width: 75px;
    padding: 10px;
}

#rock {
    color: red;
    margin-right: 185px;
    margin-top: 25px;
    margin-left: 125px;
    margin-bottom: 25px;
}

#paper {
    color: blue;
    margin-right: 185px;
}

#scissors {
    color: green;
}

.displayDiv {
    height: 550px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tieDiv {
    color: red;
    background-color: honeydew;
    height: 50px;
    width: 150px;
    text-align: center;
}

.cwDiv {
    color: red;
    background-color: honeydew;
    height: 50px;
    width: 150px;
    text-align: center;
}

.pwDiv {
    color: red;
    background-color: honeydew;
    height: 50px;
    width: 150px;
    text-align: center;
}

.winnerDiv {
    color: red;
    background-color: honeydew;
    height: 50px;
    width: 150px;
    text-align: center;
}

